{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Brawler Information</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Brawl Stars</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Resultado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'brawlstars_app:search_brawler' %}">Buscador</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h1>Brawler Information</h1>
        {% if brawler_info %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td>{{ brawler_info.name }}</td>
                    </tr>
                    <tr>
                        <td><strong>ID</strong></td>
                        <td>{{ brawler_info.id }}</td>
                        
                    </tr>
                    <tr>
                        <td><strong>Star Powers</strong></td>
                        <td>
                            <ul>
                                {% for starPower in brawler_info.starPowers %}
                                    <li>{{ starPower.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Gadgets</strong></td>
                        <td>
                            <ul>
                                {% for gadget in brawler_info.gadgets %}
                                    <li>{{ gadget.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    </div>

    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
